<dom-module id="app-view">
  <template>
    <template is="dom-repeat" items="[[model.people]]">
        <parent-element group="[[model]]" name="[[item]]" index="[[index]]"></parent-element>
    </template>
    <input id="personInput"></input><paper-button on-click="handleAddPerson">Add</paper-button>
  </template>
  <script>Polymer({
    handleAddPerson: function(){
      this.fire("action",{name:"addPerson",data:{group:this.model,name:this.$.personInput.value}})
      this.$.personInput.value = "";
    }
  });</script>
</dom-module>
